apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-ingress
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/deejaydhiz/clixx-k8s-gitops.git
    targetRevision: main
    path: addons/grafana

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

